<div id="project-name">^- ^__ {{ project.name | titlecase }}
  <p>{{ project.description }}</p>
</div>

<div class="slide-wrapper">
  <div class="slides-container s-left">
    <img
      *ngFor="let image_left of project.left_slides"
      class="slide-left"
      style="width: 100%; display: none"
      alt="left slide image"
      src="{{ image_left }}"
      (click)="showSlidesLeft()"
    />
  </div>

  <div class="slides-container s-right">
    <img
      *ngFor="let image_right of project.right_slides"
      class="slide-right"
      style="width: 100%; display: block"
      alt="left slide image"
      src="{{ image_right }}"
      (click)="showSlidesRight()"
    />
  </div>
</div>
