.slide-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.slide-counter {
  font-family: var(--font-family-2);
  font-size: 14px;
}

.slides-container {
  width: 100%;
  margin-top: 15px;
}

.s-left {
  margin-right: 10px;
}

.s-right {
  margin-left: 10px;
}

#frame-r,
#frame-l {
  position: fixed;
  text-align: center;
  z-index: 100;
  font-size: medium;
  font-weight: 100;
  font-family: var(--font-family-2);
}

#frame-r {
  right: calc(var(--frame-with) / 2 * -1 + 10px + var(--frame-margin));
  top: 50%;
  width: var(--frame-with);
  transform: rotate(90deg);
}

#frame-l {
  left: calc(var(--frame-with) / 2 * -1 + 10px + var(--frame-margin));
  top: 50%;
  width: var(--frame-with);
  transform: rotate(270deg);
}

@media screen and (max-width: 750px) {
  .slide-wrapper {
    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

  .s-left {
    margin-right: 0;
  }

  .s-right {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1125px) {
  .slide-wrapper {
    max-width: 600px;
    display: block;
    margin: 0 auto;
  }

  .s-left {
    margin-right: 0;
  }

  .s-right {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}
