.app-wrapper {
  width: 65vw;
  min-width: 600px;
  margin: auto;
  margin-top: calc(var(--frame-margin) + 50px);
}

h6 {
  margin: 0;
  font-size: small;
  font-weight: 100;
  font-family: var(--font-family-2);
}

#footer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
}

#frame-t,
#frame-r,
#frame-b,
#frame-l,
#social,
#back {
  position: fixed;
  text-align: center;
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  z-index: 100;
}

#social {
  top: var(--frame-margin);
  right: var(--frame-margin);
}

#back {
  top: var(--frame-margin);
  left: var(--frame-margin);
}

#facebook:hover,
#instagram:hover,
#tumblr:hover {
  cursor: pointer;
}

#facebook:hover {
  color: rgb(29, 161, 242);
}

#instagram:hover {
  color: rgb(252, 175, 69);
}

#tumblr:hover {
  color: rgb(52, 82, 111);
}

a,
a:active {
  text-decoration: none;
  color: var(--font-color);
}

#frame-t {
  top: var(--frame-margin);
  left: 50%;
  width: var(--frame-with);
  margin-left: calc(var(--frame-with) / 2 * -1);
}

#frame-r {
  right: calc(var(--frame-with) / 2 * -1 + 10px + var(--frame-margin));
  top: 50%;
  width: var(--frame-with);
  transform: rotate(90deg);
}

#frame-b {
  bottom: var(--frame-margin);
  left: 50%;
  width: var(--frame-with);
  margin-left: calc(var(--frame-with) / 2 * -1);
}

#frame-l {
  left: calc(var(--frame-with) / 2 * -1 + 10px + var(--frame-margin));
  top: 50%;
  width: var(--frame-with);
  transform: rotate(270deg);
}
