<div class="app-wrapper">
  <router-outlet></router-outlet>
  <div id="back" *ngIf="this.router.url !== '/dashboard'">
    <a routerLink="/dashboard"><</a></div>
  <div id="frame-t">
    <a routerLink="/dashboard"
      >Krafna Collective <br />
      <h6>Carolina Leite & Ricardo Mendes</h6></a
    >
  </div>
  <div id="frame-b">
    <a routerLink="/contact">Contact</a>
    ---
    <a href="https://www.pinterest.pt/k_a_collective/" target="_blank" id="pinterest">p</a> ---
    <a href="https://www.instagram.com/k_a_collective/" target="_blank" id="instagram">i</a> ---
    <a href="https://contrablase.tumblr.com/" target="_blank" id="tumblr">t</a>
  </div>
  <div id="footer"></div>
</div>
