<div class="app-wrapper">
  <router-outlet></router-outlet>
  <div id="social">
    <a id="facebook">f</a> ----
    <a id="instagram">i</a> ----
    <a id="tumblr">t</a>
  </div>
  <div id="frame-t">
    <a routerLink="/dashboard"
      >Krafna Collective <br />
      <h6>Carolina Leite & Ricardo Mendes</h6></a
    >
  </div>
  <div id="frame-r"><a routerLink="/news">News</a></div>
  <div id="frame-b"><a routerLink="/contact">Contact</a></div>
  <div id="frame-l"><a routerLink="/client">Client</a></div>
</div>
