<div class="app-wrapper">
  <router-outlet></router-outlet>
  <div id="back" *ngIf="this.router.url !== '/dashboard'">
    <a routerLink="/dashboard"><</a></div>
  <div id="social">
    <a href="https://www.facebook.com/pages/category/Home-Improvement/Krafna-Arquitectos-1211222212341244/" target="_blank" id="facebook">f</a> ----
    <a href="https://www.instagram.com/explore/tags/krafna_arq/?hl=en" target="_blank" id="instagram">i</a> ----
    <a href="https://contrablase.tumblr.com/" target="_blank" id="tumblr">t</a>
  </div>
  <div id="frame-t">
    <a routerLink="/dashboard"
      >Krafna Collective <br />
      <h6>Carolina Leite & Ricardo Mendes</h6></a
    >
  </div>
  <div id="frame-b"><a routerLink="/contact">Contact</a></div>
  <div id="footer"></div>
</div>
