.wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

#hover-text {
  color: black;
  border-radius: 7px;
  padding: 5px 20px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bolder;
}

@media screen and (max-width:750px) {
  .wrapper {
    max-width: 350px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:1125px) {
  .wrapper {
    width: 500px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width:1900px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
