body{
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-1);
}

:root {
  --frame-with: 250px;
  --frame-margin: 20px;
  --font-color: black;
  --background-color: rgb(232,234,234);
  --font-family-1: Helvetica, Arial, sans-serif;
  --font-family-2: 'Times New Roman', Times, serif;
}
